<div class="row form-group">
  <label for="phone">
    Phone Number : 
    <input class="form-control" id="phone" type="text" (focusout)="onFocusOut()" [(ngModel)]="phone"  [disabled]="isDesibled">
  </label>
</div>
<span id="phone-validation" class="alert alert-danger">please enter a valid date</span>