<div class="row form-group">
  <label for="birthday">
    Birth Day : 
    <input class="form-control" id="birthday" type="date" (focusout)="onFocusOut()" [(ngModel)]="birthday" [disabled]="isDesibled">
  </label>
</div>
<span id="birtday-validation" class="alert alert-danger">please enter a valid date</span>
