<div class="row form-group">
  <label for="fullname">
    Full Name : 
    <input class="form-control" id="fullname" type="text" (focusout)="onFocusOut()" [(ngModel)]="fullName" [disabled]="isDesibled">
  </label>
</div>
<span id="fullname-validation" class="row alert alert-danger ">this field accept only alphanumeric characters</span>