<div class="mt-5 container">

  <app-fullname (fullNameEvent)="gotoNextStep($event)" [isDesibled]="displayName"></app-fullname>
  <app-birthday (birthdayEvent)="gotoNextStep($event)" [isDesibled]="displayBirhtDay"></app-birthday>
  <app-phone (phoneEvent)="gotoNextStep($event)" [isDesibled]="displayPhone"></app-phone>
  <a [style.display]="!displaySubmitBtn?'inline-block':'none'" class="btn btn-primary" href="/">Save</a>
</div>
